<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html lang="en">
      <head>
      <meta charset="UTF-8">
      <title>New Course</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section>
  <form action="/course/new" method="post">
    <h1>New Course</h1>
    <div class="inputbox">
      <ion-icon name="email-outline"></ion-icon>
      <input name="courseName" id="courseName" type="text" required>
      <label>Subject</label>
    </div>
    
    <button type="submit">Create</button>
    <div class="register">
      <p><a href="/course/{courseName}">Go back to courses!</a></p>
    </div>
  </form>
</section>

</body>
</html>
</title>
</head>
<body>

</body>
</html>