<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Task</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section>
  <form action="/task/new" method="post">
    <h1>New task</h1>
    <div class="inputbox">
      <ion-icon name="email-outline"></ion-icon>
      <input name="name" id="name" type="text" required>
      <label>Title</label>
    </div>
    <div class="inputbox">
      <label for="priority"></label>
      <select name="priority" id="priority" required>
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
      </select>
    </div>
    <div class="inputbox">
      <label for="dueDate"></label>
      <input type="date" id="dueDate" name="dueDate" required>
    </div>
      <button type="submit">Create</button>
    <div class="register">
      <p><a href="/task">Go back to tasks!</a></p>
    </div>
  </form>
</section>

</body>
</html>
