<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Note</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        textarea{
            width: 450px;
            height: 500px;
            resize: none;
        }
    </style>
</head>
<body>
<section>
    <form action="#" th:action="@{/course/{courseName}/{noteId}(courseName=${courseName}, noteId=${note.id})}" method="post">
        <h1>Note: <span th:text="${note.getTitle()}"></span></h1>

        <div class="inputbox">
            <textarea name="content" id="content" th:text="${note.content}" required></textarea>
            <label for="content"></label>
        </div>

        <button type="submit">Save</button>

        <div class="register">
            <p><a th:href="@{/course/{courseName}(courseName=${courseName})}">Go back to notes!</a></p>
        </div>
    </form>
</section>
<nav>
    <ul>
        <li><a href="/task"><img th:src="@{/assets/task.png}" alt="Tasks" style="width: 25px; height: auto;"></a></li>
        <li><a href="/home"><img th:src="@{/assets/home.png}" alt="Home" style="width: 25px; height: auto;"></a></li>
        <li><a href="/course"><img th:src="@{/assets/note.png}" alt="Notes" style="width: 25px; height: auto;"></a></li>
        <li><a href="/req/login"><img th:src="@{/assets/logout.png}" alt="logout" style="width: 25px; height: auto;"></a></li>
    </ul>
</nav>
</body>
</html>