<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Notes</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    table {
      width: 100%;
      height: 80%;
      text-align: left;
      margin-bottom: 20px;
    }
    td a {
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
    }
  </style>
</head>
<body>
<section>
  <h1>Your Notes for Course: <span th:text="${courseName}"></span></h1>

  <table>
    <tbody>
    <tr th:each="note : ${notes}">
      <td>
        <a th:href="@{/course/{courseName}/{noteId}(courseName=${courseName}, noteId=${note.id})}"
           th:text="${note.title}">Note Title</a>
      </td>
      <td>
        <form th:action="@{/course/{courseName}/delete/{noteId}(noteId=${note.id},courseName=${courseName})}" method="post">
          <button type="submit" onclick="return confirm('Are you sure you want to delete this note?')">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/course/{courseName}/new(courseName=${courseName})}">
    <button>Create New Note</button>
  </a>
</section>
<nav>
  <ul>
    <li><a href="/task"><img th:src="@{/assets/task.png}" alt="Tasks" style="width: 25px; height: auto;"></a></li>
    <li><a href="/home"><img th:src="@{/assets/home.png}" alt="Home" style="width: 25px; height: auto;"></a></li>
    <li><a href="/course"><img th:src="@{/assets/note.png}" alt="Notes" style="width: 25px; height: auto;"></a></li>
    <li><a href="/req/login"><img th:src="@{/assets/logout.png}" alt="logout" style="width: 25px; height: auto;"></a></li>
  </ul>
</nav>
</body>
</html>
